<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  <svg>
    <symbol id="minus-outline" viewBox="0 0 30 30">
        <g id="DesktopHD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="CEC_DesktopHD_FAQ&apos;s_1A" transform="translate(-1145.000000, -1647.000000)" stroke="#EF6E0B" stroke-width="2">
                <g id="Content" transform="translate(243.000000, 707.000000)">
                    <g id="FAQ&apos;s" transform="translate(0.000000, 729.000000)">
                        <g id="FAQ-Group" transform="translate(10.000000, 0.000000)">
                            <g id="FAQ-(open)" transform="translate(317.000000, 170.000000)">
                                <g id="minus" transform="translate(575.000000, 41.000000)">
                                    <rect id="Rectangle-11" x="1" y="1" width="28" height="28" rx="14"/>
                                    <path d="M9,15 L21,15" id="Path-3-Copy" transform="translate(15.000000, 15.000000) scale(1, -1) rotate(180.000000) translate(-15.000000, -15.000000) "/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>

    <symbol id="minus-solid" viewBox="0 0 30 30">
        <g id="DesktopHD" stroke="none" stroke-width="1" fill="#EF6E0B" fill-rule="evenodd">
            <g id="CEC_DesktopHD_FAQ&apos;s_1A" transform="translate(-1145.000000, -1647.000000)" stroke-width="2">
                <g id="Content" transform="translate(243.000000, 707.000000)">
                    <g id="FAQ&apos;s" transform="translate(0.000000, 729.000000)">
                        <g id="FAQ-Group" transform="translate(10.000000, 0.000000)">
                            <g id="FAQ-(open)" transform="translate(317.000000, 170.000000)">
                                <g id="minus" transform="translate(575.000000, 41.000000)">
                                    <rect id="Rectangle-11" x="1" y="1" width="28" height="28" stroke="#EF6E0B" fill="#EF6E0B" rx="14"/>
                                    <path d="M9,15 L21,15" id="Path-3-Copy" stroke="#FFFFFF" transform="translate(15.000000, 15.000000) scale(1, -1) rotate(180.000000) translate(-15.000000, -15.000000) "/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>

    <symbol id="plus-outline" viewBox="0 0 30 30">
        <g id="DesktopHD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="CEC_DesktopHD_FAQ&apos;s_1A" stroke="#EF6E0B" transform="translate(-1145.000000, -1972.000000)" stroke-width="2">
                <g id="Content" transform="translate(243.000000, 707.000000)">
                    <g id="FAQ&apos;s" transform="translate(0.000000, 729.000000)">
                        <g id="FAQ-Group" transform="translate(10.000000, 0.000000)">
                            <g id="FAQ-(closed)" transform="translate(317.000000, 495.000000)">
                                <g id="plus" transform="translate(575.000000, 41.000000)">
                                    <rect id="Rectangle-11-Copy" stroke="#EF6E0B" x="1" y="1" width="28" height="28" rx="14"/>
                                    <path d="M9,15 L21,15" id="Path-3-Copy" stroke="#EF6E0B" transform="translate(15.000000, 15.000000) scale(1, -1) rotate(180.000000) translate(-15.000000, -15.000000) "/>
                                    <path d="M15,9 L15,21" id="Path-3-Copy" stroke="#EF6E0B" transform="translate(15.000000, 15.000000) scale(1, -1) rotate(180.000000) translate(-15.000000, -15.000000) "/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>

    <symbol id="plus-solid" viewBox="0 0 30 30">
        <g id="DesktopHD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="CEC_DesktopHD_FAQ&apos;s_1A" transform="translate(-1145.000000, -1972.000000)" stroke-width="2">
                <g id="Content" transform="translate(243.000000, 707.000000)">
                    <g id="FAQ&apos;s" transform="translate(0.000000, 729.000000)">
                        <g id="FAQ-Group" transform="translate(10.000000, 0.000000)">
                            <g id="FAQ-(closed)" transform="translate(317.000000, 495.000000)">
                                <g id="plus" transform="translate(575.000000, 41.000000)">
                                    <rect id="Rectangle-11-Copy" stroke="#EF6E0B" fill="#EF6E0B" x="1" y="1" width="28" height="28" rx="14"/>
                                    <path d="M9,15 L21,15" id="Path-3-Copy" stroke="#FFFFFF" transform="translate(15.000000, 15.000000) scale(1, -1) rotate(180.000000) translate(-15.000000, -15.000000) "/>
                                    <path d="M15,9 L15,21" id="Path-3-Copy" stroke="#FFFFFF" transform="translate(15.000000, 15.000000) scale(1, -1) rotate(180.000000) translate(-15.000000, -15.000000) "/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>
  </svg>
</div>

